---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle="About Me";
const skills = ["HTML", "CSS", "JavaScript", "Java", "Spring Boot", "PostgreSQL"];
const primaryColor = "darkblue";
const secondaryColor = "indianred";
---
<style is:global define:vars={{primaryColor, secondaryColor}}>
    h1 {
        color: var(--primaryColor);
        font-size: 4rem;
    }
    .skill {
        color: var(--secondaryColor);
        font-weight: bold;
    }
</style>

<BaseLayout pageTitle={pageTitle} primaryColor={primaryColor} secondaryColor={secondaryColor}>
    <h2>...and my new Astro site</h2>
    <p>On this page, you can find information all about me!</p>
    <p>My skills are:</p>
    <ul>
        {skills.map(skill=><li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>