---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Home Page";
---

<BaseLayout pageTitle={title}>
	<h2>My awesome blog's subtitle</h2>
</BaseLayout>